In [1]:
import pandas as pd
from sklearn import preprocessing
import numpy as np
from scipy import sparse

In [2]:
train_df = pd.read_csv("/work/test/approaching_machine_learning/input/cat-in-the-dat-ii/train.csv")

In [7]:
train_df.head()

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
0,0,0.0,0.0,0.0,F,N,Red,Trapezoid,Hamster,Russia,...,02e7c8990,3.0,Contributor,Hot,c,U,Pw,6.0,3.0,0
1,1,1.0,1.0,0.0,F,Y,Red,Star,Axolotl,NaN,...,f37df64af,3.0,Grandmaster,Warm,e,X,pE,7.0,7.0,0
2,2,0.0,1.0,0.0,F,N,Red,NaN,Hamster,Canada,...,NaN,3.0,NaN,Freezing,n,P,eN,5.0,9.0,0
3,3,NaN,0.0,0.0,F,N,Red,Circle,Hamster,Finland,...,f9d456e57,1.0,Novice,Lava Hot,a,C,NaN,3.0,3.0,0
4,4,0.0,NaN,0.0,T,N,Red,Triangle,Hamster,Costa Rica,...,c5361037c,3.0,Grandmaster,Cold,h,C,OZ,5.0,12.0,0

In [9]:
train_df["ord_2"].unique()

array(['Hot', 'Warm', 'Freezing', 'Lava Hot', 'Cold', 'Boiling Hot', nan],
      dtype=object)

In [10]:
mapping = {
    "Freezing":0,
    "Warm":1,
    "Cold":2,
    "Boiling Hot":3,
    "Hot":4,
    "Lava Hot":5
}

In [15]:
train_df.loc[:, "ord_2"] = train_df.ord_2.map(mapping)

In [18]:
train_df.ord_2.value_counts()

0.0    142726
1.0    124239
2.0     97822
3.0     84790
4.0     67508
5.0     64840
Name: ord_2, dtype: int64

In [22]:
train_df.loc[:, "ord_2"] = train_df.ord_2.fillna("NONE")
lbl_enc = preprocessing.LabelEncoder()
train_df.loc[:, "ord_2"] = lbl_enc.fit_transform(train_df.ord_2.values)

In [23]:
train_df["ord_2"].value_counts()

2    142726
6    124239
1     97822
0     84790
3     67508
4     64840
5     18075
Name: ord_2, dtype: int64

In [25]:
example = np.array(
    [
        [0,0,1],
        [1,0,0],
        [1,0,1]
    ]
)

print(example.nbytes)

72

In [29]:
sparse_example = sparse.csr_matrix(example)
print(sparse_example.data.nbytes)

32

In [ ]:
n_rows = 10000
n_cols = 100000

example = np.random.binomial(1, p=0.05, size=(n_rows, n_cols))
print(f"Size of dense array: {example.nbytes}")


sparse_example = sparse.csr_matrix(example)


print(f"Size of sparse array : {sparse_example.data.nbytes}")


full_size = (
    sparse_example.data.nbytes +
    sparse_example.indptr.nbytes +
    sparse_example.indices.nbytes
)

print(f"Full size of sparse array: {full_size}")